html{
	font-family: 'Crete Round', serif;
}
.bg-header{
	background: url(images/imges1.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.bg-paris{
	background: url(images/imges1.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.bg-venice{
	background: url(images/imges3.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.bg-florence{
	background: url(images/imges2.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
